// .main {
//    background-color: lightblue;

//    .main-heading {
//       font-size: 2em;
//    }

//    .main-paragraph {
//       font-size: 1.4em;
//    }
// }

// .main, footer {
//    h1, p {
//       letter-spacing: 1px;
//    }
// }

// & or Parent Selector
// .main {
//    .container & {
//       background-color: lightblue;
//    }

//    .main-heading {
//       font-size: 2em;
//    }

//    &:hover {
//       background-color: salmon;
//    }
// }

.main {
  & &-heading {
    font-size: 20em;
  }

  & &-paragraph {
    font-size: 5.4em;
  }
}

.footer {
  & &-heading {
    font-size: 20em;
  }

  & &-paragraph {
    font-size: 5.4em;
  }
}
