/* Screen xs and all */
.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer-white {
  cursor: pointer;
  color: white;
}

.active-text {
  color: #72c7ae;
}

.bg-primary {
  background-color: #72c7ae !important;
  color: white;
}

.font-bold {
  font-weight: bold;
}

.text-primary {
  color: #72c7ae !important;
}

.text-danger {
  color: #e83a3a !important;
}

.-mt-3 {
  margin-top: -3px !important;
}

.-mt-4 {
  margin-top: -4px !important;
}

.-mt-5 {
  margin-top: -5px !important;
}

.-mt-10 {
  margin-top: -10px !important;
}

.-mt-20 {
  margin-top: -20px !important;
}

.-mt-30 {
  margin-top: -30px !important;
}

.-mt-40 {
  margin-top: -40px !important;
}

.-mt-50 {
  margin-top: -50px !important;
}

.user-image {
  height: 200px;
}

.author-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.img-cover {
  object-fit: cover;
}

.publication-cover {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.recent-publication-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.filter-box {
  margin-left: 0;
}

.research-search {
  margin-top: -40px;
}

.news-search {
  margin-left: 0;
  margin-top: -40px;
}

.primary-document-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.document-research-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.bg-gray {
  background-color: rgb(209 213 219);
}

.rounded {
  border-radius: 0.7rem !important;
}

.rounded-lg {
  border-radius: 1rem !important;
}

.rounded-top {
  border-top-left-radius: 0.7rem !important;
  border-top-right-radius: 0.7rem !important;
}

.rounded-top-lg {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.rounded-bottom {
  border-bottom-left-radius: 0.7rem !important;
  border-bottom-right-radius: 0.7rem !important;
}

.document-active {
  border: 5px solid #72c7ae;
  border-radius: 0.9rem !important;
}

.img-partner {
  width: 100vw;
  height: 200px;
  object-fit: contain;
}

.logo {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

/* Screen sm */
@media screen and (min-width: 576px) {
  .user-image {
    height: 250px;
  }

  .author-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .publication-cover {
    width: 100vw;
    height: 400px;
    object-fit: cover;
  }
}

/* Screen md */
@media screen and (min-width: 768px) {
  .user-image {
    height: 300px;
  }

  .author-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .filter-box {
    margin-left: -30px;
  }

  .research-search {
    margin-top: -30px;
  }

  .news-search {
    margin-left: -30px;
    margin-top: -30px;
  }
}

/* Screen lg */
@media screen and (min-width: 992px) {
  .author-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .publication-cover {
    width: 100vw;
    height: 450px;
    object-fit: cover;
  }

  .recent-publication-cover {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .document-research-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

/* Screen xl */
@media screen and (min-width: 1200px) {
}
