// simple mixin
@mixin inline-list {
   margin: 0;
   padding: 0;
   list-style: none;

   li {
      display: inline-block;
   }
}

// Arguments pada mixin
@mixin flexbox($justify-content, $align-items, $direction: row) {
   display: flex;
   justify-content: $justify-content;
   align-items: $align-items;
   flex-direction: $direction
}